<footer class="footer">
    <div class="footer-links">
        <a href="/pages/site/about.html">About</a>
        <a href="/pages/site/faq.html">FAQ</a>
        <a href="/pages/site/roadmap.html">Roadmap</a>
        <a href="/pages/site/privacy.html">Privacy</a>
        <a href="/pages/site/credits.html">Credits</a>
        <a href="/pages/site/sitemap.html">Sitemap</a>
    </div>

    <div class="footer-text">
        Made with 💙 by Students for Students. © 2025 Poornimites
    </div>
</footer>